
body {
    background-color: #FBFBFC;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .menu-ul{

    list-style-type: none;
    margin: 0;

}

.menu-ul li{
    display: inline-block;
    margin-left: 10px;
}

.logo{

    width: 40px;
}

.Header{

    background-color: #266348;
    padding: 10px;

}

